body{
    width: 250px;
    background-color: #222831;
}
#wpm {
    margin-top: 29px;
    margin-bottom: 23px;
    font: 25px Courier, sans-serif;
    text-align: center;
    font-weight: bold;
    color: #dddddd;
    letter-spacing: 2px;
}
.wrapper {
  text-align: center;
}

.button {
  position: absolute;
  top: 50%;
}
button{
  background-color: #30475e;
  font: 13px Courier, sans-serif;
  font-weight: bold;
  border-radius: 4px;
  margin-top: 0px;
  margin-bottom: 5px;
  border: none;
  padding: 4px 8px;
  display: inline-block;
  cursor: pointer;
  color: #dddddd;
}